.App {
  text-align: center;
}

.header {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-items a {
  padding: 0 10px;
  text-decoration: none;
}

.login-container {
  width: 400px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-flow:column;
  background:#fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 4px 7px 3px -1px rgba(161,161,161,0.68);
  -moz-box-shadow: 4px 7px 3px -1px rgba(161,161,161,0.68);
  box-shadow: 4px 7px 3px -1px rgba(161,161,161,0.68);
}

.login-title {
  color: #222;
  font-size:1.65em;
}

.login-screen {
  width: 100%;
  height:100vmin;
  min-height:300px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-flow:column;
  background-image: url(https://i.pinimg.com/originals/ee/47/1c/ee471ca43dd21d3749f89e312692013e.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.login-button {
  padding: 5px 20px; 
  color: #222;
  background: #ccc;
}

.login-button:hover {
  background:#222;
  color: #fff;
  animation: ease-in-out .5s;
  transition:.3s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
